<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783556340821-90vlp7d0991hiuij014pr6620p158o1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783556340821-90vlp7d0991hiuij014pr6620p158o1f</string>
	<key>API_KEY</key>
	<string>AIzaSyAqCHcRvi-3xYPW_I88_dOEnrXeZF27xkk</string>
	<key>GCM_SENDER_ID</key>
	<string>783556340821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tryfontzanetis.fluttershare</string>
	<key>PROJECT_ID</key>
	<string>fluttershare-6f84d</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershare-6f84d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783556340821:ios:aedf4da3fe904255fbb8dc</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershare-6f84d.firebaseio.com</string>
</dict>
</plist>